@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

/* Make a dark blue background */
body {
    background-color: #0000aa;
}

/* Make green rounded buttons */
button {
    background-color: #0da515;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family: 'Montserrat Alternates';
}

.f-left { float: left; }
.f-center { float: center; }
.f-right { float: right; }

/* Make text for all elements white */
h1 {
    color: white;
	font-family: 'Montserrat Alternates';
}
h2 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h3 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h4 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h5 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h6 {
	color: white;
	font-family: 'Montserrat Alternates';
}
p {
	color: white;
	font-family: 'Montserrat Alternates';
}

/* Make an animation for hovering over the buttons */
button:hover {
    opacity: 0.8;
}

/* Change hyperlink color if hovering over it */
a:hover {
    color: #4CAF50;
}
