@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

/* Make a dark blue background */
body {
    background-color: #0000aa;
	overflow: hidden;
}

/* Make green rounded buttons */
button {
    background-color: #0da515;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family: 'Montserrat Alternates';
}

.f-left { float: left; }
.f-center { float: center; }
.f-right { float: right; }

/* Make text for all elements white */
h1 {
    color: white;
	font-family: 'Montserrat Alternates';
}
h2 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h3 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h4 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h5 {
	color: white;
	font-family: 'Montserrat Alternates';
}
h6 {
	color: white;
	font-family: 'Montserrat Alternates';
}
p {
	color: white;
	font-family: 'Montserrat Alternates';
}

/* Make an animation for hovering over the buttons */
button:hover {
    opacity: 0.8;
}

/* Change hyperlink color if hovering over it */
a:hover {
    color: #4CAF50;
}

.center-box {
	align-items: center;
	justify-content: center;
	background-color: #767591;
	width: auto;
	margin: auto;
}

.card {
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	image-rendering: pixelated;
	width: 19%;
	display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}


details > summary {
	list-style-image: url("./assets/images/ICON_arrow_right_orange.png");
}

details[open] > summary {
	list-style-image: url("./assets/images/ICON_arrow_down_orange.png");
}

details {
	padding: 0.5rem;
}

details[open] > summary {
	margin-bottom: 0.5rem;
}
